/* GLOBAL CLASSES */

section {
    padding: 80px 0;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-columned {
    flex-direction: column;
}

.blue-background, .grey-background {
    border-bottom: 3px solid #fff;
    position: relative;
}

.blue-background {
    color: #fff;
    background-color: #303841;
}

.grey-background {
    color: #303841;
    background-color: #EEE;
}

.section-title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.blue-background .section-title {
    text-shadow: ;
}

.grey-background .section-title {
    text-shadow: 3px 3px 0 #60666C;
}


/* Style boutons */

.btn-custom {
    background-color: #d67f07;
    color: #303841;
    text-shadow: 3px 2px 0 #fff;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.3s;
    text-transform: uppercase;
}

.btn-custom:hover {
    background-color: #5ecc8c;
}


/* Style fleches vers bas de page */

.arrow-down {
    color: #fff;
    border-radius: 50%;
    border: 4px solid #fff;
    width: 60px;
    height: 60px;
    font-size: 3rem;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 0 0 0 #d67f07;
    transition: 0.4s ease-in-out;
    text-align: center;
}

.grey-background .arrow-down {
    color: #303841;
    border: 4px solid #303841;
}

.arrow-down i {
    position: relative;
    top: 5px;
    transition: 0.3s;
}

.blue-background .arrow-down {
    color: #fff;
}

.arrow-down:hover, .arrow-down:active, .arrow-down:focus {
    box-shadow: inset 0px 60px 0 0 #d67f07;
    /*color: #303841;*/
}


/* NAVBAR */

#main-navbar {
    border-bottom: 2px solid #fff;
    color: #fff;
    z-index: 999999;
}

#main-navbar .container-fluid {
    background-color: #d67f07;
}

#main-navbar .container-fluid a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#main-navbar .navbar-brand {
    font-size: 2rem;
}

#main-navbar .navbar-right a {
    padding: 15px 0px;
    margin: 0 10px;
    font-size: 1.8rem;
    box-shadow: inset 0 0 0 0 #303841;
    transition: 0.3s;
}

#main-navbar .navbar-right a:hover {
    box-shadow: inset 0 10px 0 0 #303841;
}


/* NAVBAR TOGGLE */

.navbar-default .navbar-toggle {
    border: none;
    box-shadow: 1px 1px 0 #fff;
    transition: 0.3s;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    box-shadow: 3px 3px 0 #fff;
    transform: translateY(-2px);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


/* HEADER */

header {
    height: 100vh;
    text-transform: uppercase;
    flex-direction: column;
}

header .main-part {
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1 {
    color: #d67f07;
    text-shadow: 3px 3px 0 #4a525c;
    z-index: 50;
    font-weight: bold;
    font-size: 6rem;
}

.deco-line, .deco-round {
    position: absolute;
    background-color: #fff;
    z-index: -5;
}

.deco-line {
    width: 100%;
    height: 5px;
    top: 50%;
}

.deco-round {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    left: 50%;
    top: 0;
    transform: translate(-50%);
}

header .btn-custom {
    margin-top: 50px;
}


/* ====== A PROPOS DE MOI ====== */

#photo-id {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url("http://16315-presscdn-0-27.pagely.netdna-cdn.com/wp-content/uploads/2014/01/zachnelson-crop-feature_1.jpg");
    background-size: cover;
    border: 10px solid #303841;
    margin: 50px auto;
}

#a-propos .text-bloc {
    display: flex;
}

#a-propos .deco-barre {
    background-color: #d67f07;
    width: 5%;
    height: auto;
}

#a-propos .text-bloc p {
    padding: 30px 5%;
    margin: 0;
    font-size: 1.8rem;
}


/* Cards*/

#a-propos .card {
    margin: 30px 0;
    padding: 0 3.5%;
}

#a-propos .card figure {
    border: 5px solid #d67f07;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    font-size: 5rem;
}

#a-propos .card figure i {
    position: relative;
    top: 12px;
}


/* ===== MES COMPETENCES ====== */

#competences .row {
    margin: 80px 0;
}

#competences figure {
    font-size: 6rem;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
    color: #303841;
}

#competences ul {
    list-style: none;
    padding-left: 20px;
    border-left: 2px solid #d67f07;
    font-size: 1.7rem;
    margin: 0;
}


/* ===== MON TRAVAIL ===== */

#travail .projet-container {
    padding: 30px;
}

.projet-content {
    display: block;
    position: relative;
    border: 5px solid #d67f07;
    height: 250px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.projet-container:nth-child(1) .projet-content {
    background-image: url("../img/projet1.jpg");
}

.projet-container:nth-child(2) .projet-content {
    background-image: url("../img/projet2.jpg");
}

.projet-container:nth-child(3) .projet-container {
    background-image: url("../img/projet3.jpg");
}

.projet-container:nth-child(4) .projet-content {
    background-image: url("../img/projet4.jpg");
}

#travail .projet-infos {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
    height: 250px;
    transition: 0.3s ease-in-out;
}

#travail .projet-content:hover .projet-infos {
  top: 0;
}


/* ======= ME CONTACTER ====== */
#contact label {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 30px;
}

#contact textarea, input {
  color: #000;
  border: 2px solid #d67f07;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  font-size: 1.7rem;
}

#contact textarea {
  width: 100%;
  margin-bottom: 30px;
}

/* ====== FOOTER ====== */
footer {
  padding: 30px;
  color: #fff;
  background-color: #d67f07;
}

footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

footer .contact-icon {
  background-color: #303841;
}
